@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Inter:400,500|Plus+Jakarta+Sans:700,500');

@import '../../public/assets/sass/libs/_vars.scss';
@import '../../public/assets/sass/libs/_functions.scss';
@import '../../public/assets/sass/libs/_mixins.scss';
@import '../../public/assets/sass/libs/_breakpoints.scss';

@include breakpoints(
  (
    wider: (
      1681px,
      2570px,
    ),
    wide: (
      1281px,
      1680px,
    ),
    normal: (
      981px,
      1280px,
    ),
    narrow: (
      841px,
      980px,
    ),
    narrower: (
      737px,
      840px,
    ),
    mobile: (
      null,
      640px,
    ),
  )
);

@import '../../public/assets/sass/base/_base.scss';
@import '../../public/assets/sass/base/_reset.scss';

@import '../../public/assets/sass/components/_navbar.scss';
@import '../../public/assets/sass/components/_sunmoon.scss';
@import '../../public/assets/sass/components/_title.scss';
@import '../../public/assets/sass/components/_sidepanel.scss';
@import '../../public/assets/sass/components/_loader.scss';
@import '../../public/assets/sass/components/_panel.scss';
@import '../../public/assets/sass/components/_animationbtn.scss';
@import '../../public/assets/sass/components/_footer.scss';

@import '../../public/assets/sass/containers/_hero.scss';
@import '../../public/assets/sass/containers/_services.scss';
@import '../../public/assets/sass/containers/_portfolio.scss';
@import '../../public/assets/sass/containers/_exp.scss';
@import '../../public/assets/sass/containers/_testimonials.scss';
@import '../../public/assets/sass/containers/_education.scss';
@import '../../public/assets/sass/containers/_contact.scss';

@import '../../public/assets/sass/containers/_colors.scss';

@import '../../public/assets/sass/containers/_404.scss';
